# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# pyenv
.python-version

# Mypy
.mypy_cache/
.dmypy.json

# IDE/editor folders and OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
.DS_Store

# Logs
*.log

# Paramètres locaux & secrets
param.json
*.env

# MicroPython precompiled files (si présents)
*.mpy
