# Pydantic v2 pour la gestion de la config
pydantic>=2.11.3

# Requêtes HTTP vers InfluxDB
requests>=2.31.0

# GPIO Raspberry
RPi.GPIO>=0.7.0

# Bus I²C pour le BME280
smbus2>=0.4.0

aiohttp>=3.8

jinja2>=3.1

rich>=14.0.0